.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sen;
  font-size: 27px;
  padding-top: 30px;
  > img {
    margin-right: 1%;
  }
  & .modify-color {
    color: #de4c4c;
  }
}
