@import "./polices/polices";
@import "./components/title/title";
@import "./components/container_login/login";
@import "./pages/loginPage/loginPage";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
